html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

header {
    background: linear-gradient(to top, black 2%, transparent);
    padding: 1rem;
    padding-top: 3em;
    margin-top: 0;
    color: white;
    position: relative;
}

#name-size {
    font-size: 3em;
}

.header-img {
    position: absolute;
    width: 100%;
    z-index: -1;

}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2em;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 0 1rem;
    text-align: center;
}

section {
    margin-block: 2rem;
}

.profil-ul {
    list-style: none;
}

h1,
h2 {
    border: 20px;
    padding: 20px;
    text-align: center;
}

p {
    margin: .4rem 0 0;
}